.main--tables.container{
    min-width: 900px;
    max-width: 1000px;
    margin: 0 auto;
    
}

.product--cards-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 900px;
    max-width: 1100px;
    margin: 0 auto;
}

.plans--container-slider {
    justify-content: center;
}

